body {
  margin:0;
  padding: 0;
  overflow-x: hidden;
}

input {
  border: none;
  background-color: rgba(255,255,255, 0.5);
  text-align: center;
  color: black;
  font-weight: bold;
}

#boardgame {
  /*height:100vh;
  width:100vh;
  margin:auto;*/
  /*height: 100vh;*/
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  /*max-height: 100%;
  max-width: 100%;*/
  /*background-color: yellow;*/
  /*position: relative;*/
  /*background-image: url("welcome_to.jpg");
  background-size: contain;
  background-repeat: no-repeat;*/
}

#scoresheet {
  display: grid;
  height: 100%;
  position: relative;

  /*height: 100vh;
  position: relative;
  display: inline-block;*/
}

#mega-widget-container {
  /*position:relative;
  display:inline-block;*/
  /*display:flex;*/
  /*background-image: url('assets/welcome_to.jpg');
  background-position:center;
	background-repeat:no-repeat;
	background-size:contain;*/
  /*width: 500px;
  height: 500px;*/
  /*position: absolute;
  float: left;
  left: 0;
  top: 0;*/
  float: left;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: yellow;
  opacity: 0.5;
}

#widget-container {
  position:relative;
  width:100%;
  height: 100%;
  background-color: blue;
  opacity: 0.4;
}

#widget-container > div {
  position: relative;
  display: inline-block;
}

#boardgame-img {
  /*max-width:100%;
  max-height:100%;*/
  object-fit: scale-down;
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

#side-panel {
  display: flex;
  /*flex-direction: column;
  flex-grow: 1;
  flex-shrink: 3;*/
}

#game-management {
  display: flex;
  justify-content: space-around;
}

#game-management > input {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: 0;
}

#card-container {
  display: flex;
  flex-flow: column nowrap;
  /*flex: 1 1 auto; */
  justify-content: flex-start;
  flex-shrink: 1;
}

.card-pair {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-shrink: 1;
}

.card {
  flex-grow: 1;
  flex-basis: 0;
  /*max-height: 30vh;*/
}

.card > img {
  max-height: 50px;
  max-width: 100%;
  object-fit: scale-down;
  /*max-height:33.33vh;*/
}

#cityname {
  position:absolute;
  float:left;
  border-radius:3px;
  width: 15%;
  height: 5%;
}

#cityname > input {
  width:100%;
  height: 100%;
  font-size: 12px;
}

.house {
  /*background-color: blue;
  opacity: 0.2;*/
  border-radius:3px;
  float:left;
  position:absolute;
  width:5%;
  height:5%;
}

.house > input {
  width:100%;
  height: 100%;
  font-size:20px;
}

/*** Remove arrows from number inputs ***/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/*** ***/

.park {
  background-color:darkgreen;
  opacity: 0.8;
  border-radius:10px;
  float:left;
  position:absolute;
  width:3%;
  height:3%;
}

.pool {
  background-color: cornflowerblue;
  opacity: 0.9;
  border-radius:3px;
  float:left;
  position:absolute;
  width:6%;
  height:3%;
}

.fence {
  background-color: brown;
  opacity: 0.9;
  border-radius:3px;
  float:left;
  position:absolute;
  width:1%;
  height:10%;
}

.work {
  background-color: brown;
  opacity: 0.9;
  border-radius:3px;
  float:left;
  position:absolute;
  width:2%;
  height:2%;
  transform: rotate(45deg);
}

.landprice {
  background-color: blueviolet;
  opacity: 0.9;
  border-radius:3px;
  float:left;
  position:absolute;
  width:2%;
  height:2%;
}

.checked {
  opacity: 0.8;
}
